@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		// font-display: swap // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2');
		font-display: swap;
	}
}


@include font('pt_sans_lat_400', normal, 400, '../fonts/pt_sans/pt_sans_lat_400.woff2');
@include font('pt_sans_lat_700', normal, 700, '../fonts/pt_sans/pt_sans_lat_700.woff2');

@include font('pt_serif_lat_400', normal, 400, '../fonts/pt_serif/pt_serif_lat_400.woff2');
@include font('pt_serif_lat_700', normal, 700, '../fonts/pt_serif/pt_serif_lat_700.woff2');