.header-slider {

	&-slide {

		position: relative;

		&__img {
			display: block;
			width: 100%;
			height: calc(100vh - 100px);
			max-height: 700px;
			object-fit: cover;

			@media screen and (max-width: 1280px) {
				height: calc(100vh - 80px);
			}
		}

		&__content {
			
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 60px;
			padding: 0 20px;
			text-shadow: 1px 1px #555;

			@media screen and (max-width: 376px) {
				bottom: 40px;
			}

			@media screen and (min-width: 1200px) {
			    width: 1170px;
				right: 0;
				margin: 0 auto;
			}

			@media screen and (min-width: 1600px) {
			    padding: 0;
			}
		}

		&__title {
			font-family: 'pt_sans_lat_400';
			font-size: 14px;
			color: #fff;
			text-transform: uppercase;
			margin-bottom: 4px;
		}

		&__text {
			font-family: 'pt_serif_lat_700';
			font-size: 40px;
			line-height: 50px;
			color: #fff;
			max-width: 560px;
			margin-bottom: 10px;

			@media screen and (max-width: 376px) {
				font-size: 35px;
				line-height: 40px;
			}
		}

		&__meta {
			font-family: 'pt_serif_lat_400';
			font-size: 14px;
			color: #fff;
			display: flex;
			gap: 15px;

			span {
				color: #b4b4b4;
			}
		}
	}
}