.pagination {

	max-width: 510px;
	height: 50px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 35px;
	border: 1px solid #e5e5e5;

	font-family: 'pt_sans_lat_400';
	text-transform: uppercase;
	font-size: 16px;
	line-height: 16px;

	@media screen and (max-width: 1210px) {
		margin-bottom: 60px;
	}

	@media screen and (max-width: 420px) {
		padding: 20px;
	}

	a {
		text-decoration: none;
		padding: 3px 5px;
		color: #171717;

		@media screen and (max-width: 420px) {
			font-size: 14px;
		}
	}

	a.pagination__page {
		&:hover {
			transition: .3s;
			color: #dbb062;
		}
	}

	.older-next-post {
		display: block;
		position: relative;
		color: #A2A2A2;

		@media screen and (max-width: 420px) {
			font-size: 11px;
		}

		&:before,
		&:after {
			content: '';
			width: 2px;
			height: 8px;
			position: absolute;
			background: #aaa;
		}

		&:before {
			top: 5px;
		}

		&:after {
			top: 10px;
		}

		cursor: default;
		transition: .3s;

		&.active {
			color: #171717;

			cursor: pointer;

			&:hover {
				color: #dbb062;

				&:before,
				&:after {
					transition: .5s;
					background: #dbb062;
				}
			}
		}
	}

	&__older-post {

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}

		&:before,
		&:after {
			left: -15px;

			@media screen and (max-width: 420px) {
				left: -5px;
			}
		}

	}

	&__next-post {

		&:before {
			transform: rotate(-45deg);
		}

		&:after {
			transform: rotate(45deg);
		}

		&:before,
		&:after {
			right: -15px;

			@media screen and (max-width: 420px) {
				right: -5px;
			}
		}

	}
}