.small-posts {

	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	margin-bottom: 60px;


	@media screen and (max-width: 1210px) {
		justify-content: center;
	}

	&-post {

		max-width: 370px;
		

		@media screen and (max-width: 1210px) {
			max-width: calc(50% - 15px);
		}

		@media screen and (max-width: 771px) {
			max-width: 555px;
		}

		@media screen and (min-width: 772px) and (max-width: 899px) {
			width: 47%;
		}

		@media screen and (min-width: 900px) and (max-width: 1210px) {
			width: 33%;
			max-width: 31%;
		}

		&__link {}

		&__img {
			
			height: 280px;

			@media screen and (min-width: 420px) and (max-width: 771px) {
				height: 420px;
			}

		}

		&__info {
			align-items: center;
			padding: 10px 40px 15px;

			@media screen and (max-width: 771px) {
				padding: 20px 30px 25px;
			}
		}

		&__category {
			text-align: center;
		}

		&__title {
			max-height: 60px;
			max-width: 320px;
			font-size: 20px;
			line-height: 27px;
			text-align: center;
		}

		&__meta {}
		&__date {}
		&__author {
			span {
				color: #b1b1b1;
			}
		}

	} // post
} // small-posts